<div id="wrapper">
  <a href="#sidebar" class="mobilemenu"><i class="fa fa-bars"></i></a>

  <%= render "shared/sidebar" %>

  <div id="main">
    <%= render "shared/biography" %>

    <%= render "shared/research" %>

    <%= render "shared/publications" %>

    <%= render "shared/teaching" %>

    <%= render "shared/gallery" %>

    <%= render "shared/contact" %>

    <div id="overlay"></div>
  </div>
</div>

